<form>
    <section class="form-block">
        <div class="form-group">
            <label>My Blinkstick</label>
            <div class="toggle-switch">
                <input type="checkbox" id="toggle_1">
                <label for="toggle_1">Encender y apagar</label>
            </div>

        </div>
    </section>

    <section class="form-block">
      <div class="form-group">
        <label>Colorpicker</label>
        <input
          (input)="onColorPickerInput($event.target.value)"
          type="color">
      </div>
    </section>
</form>
